<div class="container">
  <div class="columns my-grid is-centered">
    <div class="box card">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      <p class="has-text-centered">
        <!-- &  NgFor only supports binding to Iterables, such as Arrays => .split('') -->

        <span
          [class]="compare(letter, userText[i])"
          *ngFor="let letter of randomText.split(''); let i = index"
          >{{ letter }}</span
        >
      </p>

      <!-- ^ Handling user Input -->

      <div class="field">
        <input type="text" class="input" (input)="userEnterText($event)" />
      </div>

      <!-- ^ Conditional Display -->

      <div class="box has-text-centered" *ngIf="userText === randomText">
        <h1 class="title">Success</h1>
      </div>
    </div>
  </div>
</div>
